.contenu{

  article{

    display: grid;
    //hauteur forcée sections. proportion enlignement
    grid-template-rows: 100px auto 1fr;


    header{
      background-color: $gray-300;
      text-align: center;


      svg{
        //bonne grandeur svg. proportion
        height: 100%;
      }
    }

    img{
      //images enlignées en bas
      align-self: end;
    }



  }


}

@media screen and (min-width: $breakpoint-lg){

  .contenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 20px;


  }

}