.photos{

  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .credit{
    padding: 5px;
    margin: 0 0 20px 0;
  }

  h2{
    margin: 0;
  }

  .abstract{
    display: none;
  }




}

@media screen and (min-width: $breakpoint-md){
  .photos{

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;

    //invrse éléments gauche droite
    h2{
      grid-row:1;
      grid-column: 1/-1;
    }

  }
}



@media screen and (min-width: $breakpoint-lg){

  .photos{

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);

  }

}


    /*

    .mixe {
      grid-column: 2 / 4;
      grid-row: 6;
    }
    .mixe_texte {
      grid-column: 3 / span 2;
      grid-row: 7;
      align-self: start;
    }

    .ecran {
      grid-column: 6 / 10;
      grid-row: 5;
    }
    .ecran_texte {
      grid-column: 9 / span 2;
      grid-row: 5;
      align-self: end;
    }


    */
