.banniere-video{

  display: grid;

  //fr pour fraction
  grid-template-columns: 1fr;
  //vh viewport height
  grid-template-rows: 25vh;


  justify-items: center;
  align-items: center;

  //pas voir dépasse

  overflow: hidden;


  video, img, h2{

    //debut et fin horizontal

    grid-column:1/-1;


    grid-row: 1/-1;
  }

  video{
    width: 100%;
    z-index: 2;
    display: none;
  }

  h2{
    color: $color-title-light;
    z-index: 3;
  }




}




@media screen and (min-width: 500px){

  .banniere-video{

    grid-template-rows: 50vh;

    video{
      display: block;
    }

    img{
      display: none;}
  }

}
